@(changePasswordForm: Form[(String, String)], user: models.entities.User)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.inline.fieldConstructor

@main(Messages("change.password.title"), Some(user)) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@Messages("change.password")</legend>
        @helper.form(action = routes.ChangePasswordController.submit, 'autocomplete -> "off") {
            <p class="info">@Messages("strong.password.info")</p>
            @helper.CSRF.formField
            @b3.password(changePasswordForm("current-password"), '_hiddenLabel -> Messages("current.password"), 'placeholder -> Messages("current.password"), 'class -> "form-control input-lg")
            @passwordStrength(changePasswordForm("new-password"), '_hiddenLabel -> Messages("new.password"), 'placeholder -> Messages("new.password"), 'class -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("change")</button>
                </div>
            </div>
        }
    </fieldset>
}
