@()(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.inline.fieldConstructor

@main(Messages("schema.view")) {
<link href=@routes.Assets.at("stylesheets/tabulator.css") rel="stylesheet">
<script type="text/javascript" src=@routes.Assets.at("javascripts/tabulator.js")></script>

<div id="schema-table"></div>

<script>

$("#schema-table").tabulator({
    fitColumns:true, //fit columns to width of table (optional)
    ajaxURL: "@routes.SchemaController.list",
    columns:[ //Define Table Columns
        {title:"Schema Name", field:"name", sorter:"string", width:150},
        {title:"Schema Description", field:"description", sorter:"string", width:200},
    ],
    rowClick:function(e, id, data, row){ //trigger an alert message when the row is clicked
        alert("Row " + id + " Clicked!!!!");
    },
});

$(document).ready(function(){
    $("#schema-table").tabulator("setData");
});

</script>
}
