@(schemaForm: Form[forms.core.SchemaForm.Schema])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.inline.fieldConstructor

@main(Messages("schema.create")) {
<fieldset class="col-md-6 col-md-offset-3">
    <legend>@Messages("schema.create")</legend>
    @helper.form(action = routes.SchemaController.submit()) {
    @helper.CSRF.formField
    @b3.text(schemaForm("Name"), '_hiddenLabel -> Messages("schema.name"), 'placeholder -> Messages("schema.name"), 'class -> "form-control input-lg")
    @b3.text(schemaForm("Description"), '_hiddenLabel -> Messages("schema.description"), 'placeholder -> Messages("schema.description"), 'class -> "form-control input-lg")
    @b3.textarea(schemaForm("Fields"), '_hiddenLabel -> Messages("schema.fields"), 'placeholder -> Messages("schema.fields"), 'class -> "form-control input-lg", 'rows -> 10)

    <div class="form-group">
        <div>
            <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("schema.create")</button>
        </div>
    </div>
    }
</fieldset>
}
