@(title: String, restApiUrl: String, columnFormat: String)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.inline.fieldConstructor

@main(title) {
<link href=@routes.Assets.at("stylesheets/tabulator.css") rel="stylesheet">
<script type="text/javascript" src=@routes.Assets.at("javascripts/tabulator.js")></script>

<header>
    <h1>@title</h1>
</header>
<div id="table"></div>

<script>
var c =  JSON.parse(`@{columnFormat}`.replace(/&quot;/g, '"'));
$("#table").tabulator({
    fitColumns: true, //fit columns to width of table (optional)
    ajaxURL: "@restApiUrl",
    columns: c,
    rowClick:function(e, id, data, row){ //trigger an alert message when the row is clicked
        alert("Row " + id + " Clicked!!!!");
    },
});

$(document).ready(function(){
    $("#table").tabulator("setData");
});

</script>
}
